/*base setup*/
@import './partials/base';

/*mixins & extend*/
@import './partials/mixin/mixins-extend';

/*page structure*/
@import './partials/header';
@import './partials/home';
@import './partials/about';





  

  .tools-tecnologies {
    padding: 80px 0;
    display: flex;

    @media (max-width: 1025px) {
      flex-direction: column;
    }
    .box-description {
      padding: 0 18px;
      @media (max-width: 1025px) {
        text-align: center;
        padding-bottom: 30px;
      }
      h2 {
        font-size: 50px;
        font-weight: 300;
      }
      p {
        margin: {
          right: 30px;
          bottom: 80px;
        }

        @media (max-width: 1000px) {
          margin: 0 0 40px 0;
          text-align: justify;
        }
      }
      a {
        color: #150f86;
        text-decoration: none;
        background-color: $orange-color;
        padding: 20px 30px;
        border-radius: 25px;
        box-shadow: -2px 2px 5px #0c0342;
        
        &::before {
          content: " ➝ ";
        }

        @media(max-width: 1015px) {
          padding: 15px 20px;
          border-radius: 17px;
        }
      }
    }
    .box-tools-tecnology {
      width: 60%;

      @media (max-width: 1025px) {
        width: 60%;
      }
      .box-skills {
        background-color: $orange-color;
        box-shadow: -2px 2px 5px #0c0342;
        padding: 20px;
        margin: 15px 0;
        border-radius: 20px;

        span {
          font-size: 26px;
          color: #3419ce;
        }
        .text {
          color: #3419ce;
        }
      }

      .hard-skills {
        background-image: radial-gradient(#0c0342, #150f86);
        box-shadow: -2px 2px 5px #8d5c00;
        border-radius: 10px;
        padding: 10px 0;
        margin: 5px 0;
        display: flex;
        justify-content: space-evenly;
      }

      @media (max-width: 1025px) {
        margin: 15px auto;
        width: 100%;
      }
    }
  }
  .my-works {
    padding: 80px 20px;

    h2 {
      font-size: 50px;
      font-weight: 300;
    }

    .project {
      margin: 40px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      img {
        width: 450px;
        margin: 20px 16px;
        border-radius: 20px;
        box-shadow: -2px 0 10px #0c0342;
        cursor: pointer;
        
        &:hover {
          transform: scale(1.1);
          transition: 400ms ease;
        }

        @media (max-width: 840px) {
          width: 90%;
          margin-bottom: 5px;
        }
      }
    }
  }
  .contact {
    padding: 80px 0;

    h2 {
      font-size: 50px;
      font-weight: 300;
    }

    .contacts {
      padding: 40px 0;
      display: flex;
      justify-content: center;

      @media (max-width: 1250px) {
        flex-direction: column;
      }
      .card {
        margin: 50px;
        text-align: center;

        h3 {
          font-size: 25px;

          @media (max-width: 1250px) and (min-width: 710px) {
            font-size: 25px;
          }

          @media (max-width: 709px) {
            font-size: 20px;
          }
        }

        span {
          img {
            width: 40px;
            filter: invert(100%);
          }
        }

        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;

          li {
            margin: 20px;

            img {
              width: 50px;
              filter: invert(100%);
            }
          }
        }
      }
    }
  }
  .btn-backto-top {
    button {
      background-color: #ffb52b;
      box-shadow: -2px 0 10px #0c0342;
      border-radius: 100%;
      border: none;
      position: fixed;
      bottom: -100%;
      right: -100%;
      transition: 300ms ease-in-out all;

      img {
        width: 60px;
        border-radius: 50%;
        cursor: pointer;
        
        @media (max-width: 1050px) {
          width: 40px;
        }
      }
    }

    .btnVisible {
      right: 20px;
      bottom: 20px;
    }

  }

  /* ---------------------------------- scroll animation ------------------------------------ */
  [data-animation] {
    opacity: 0;
    transition: .5s;
  }

  [data-animation="left"] {
    transform: translate3d(-3px, 0, 0) /*melhora a performance da animação*/;
  }

  [data-animation="right"] {
    transform: translate3d(3px, 0, 0) /*melhora a performance da animação*/;
  }

  [data-animation].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
/* ---------------------------------- end of scroll animation ----------------------------------- */
  
  .footer {
    border-top: 3px solid #0c0342;
    padding: 40px 0;
    max-width: 100%;
    text-align: center;
  }

